
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#f2f2f2;
}

q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

/* Custom CSS
 * --------------------------------------- */
body{
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #f2f2f2;
}
h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}
.section{
	text-align: center;
}

/* Menu
 * --------------------------------------- */
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}


.intro p{
	width: 75%;
	margin: 20px auto;
	font-size: 1.5em;
}

/* Section 1
 * --------------------------------------- */


/* Section 2
 * --------------------------------------- */


/* Section 3
 * --------------------------------------- */



/* Section 4
 * --------------------------------------- */


 /* Section 5
  * --------------------------------------- */



  /* Section 6
   * --------------------------------------- */

   .question{
     font-size: 30px;
     margin-bottom: 10px;
   }
   .answers {
     margin-bottom: 20px;
     text-align: left;
     display: inline-block;
   }
   .answers label{
     display: block;
     margin-bottom: 10px;
   }
   button{
     font-family: 'Work Sans', sans-serif;
       font-size: 22px;
       background-color: #279;
       color: #fff;
       border: 0px;
       border-radius: 3px;
       padding: 20px;
       cursor: pointer;
       margin-bottom: 20px;
   }
   button:hover{
       background-color: #38a;
   }

   .slide{
     position: absolute;
     left: 0px;
     top: 0px;
     width: 100%;
     z-index: 1;
     opacity: 0;
     transition: opacity 0.5s;
   }
   .active-slide{
     opacity: 1;
     z-index: 2;
   }
   .quiz-container{
     position: relative;
     height: 200px;
     margin-top: 40px;
   }
